{% extends 'main.html' %}
{% load static %}
{% block title %} Our Team Gallery {% endblock %}
{%  block content %}

            <!-- gallery section starts  -->

            <section class="gallery" id="gallery">

                <div class="heading">
                    <span >GALLERY GRID</span>
                    <h1 style="font-size: 2rem;">Integrative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</h1>
                </div>

                <div class="box-container">

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                        <img src="static/assets/ship00.jpg" alt="">
                        <span>Ocean freight</span>
                        <h3>South America</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                        <img src="static/assets/ware1.jpg" alt="">
                        <span>Custom Warehousing</span>
                        <h3>South America</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
                        <img src="static/assets/hire1.jpg" alt="">
                        <span>Courier Driver</span>
                        <h3>America</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                        <img src="static/assets/clear1.jpg" alt="">
                        <span>Store Keepers</span>
                        <h3>North America</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                        <img src="static/assets/lo12.jpg" alt="">
                        <span>Warehouse Auditors</span>
                        <h3>North America</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
                        <img src="static/assets/log7.jpg" alt="">
                        <span>Forklifting</span>
                        <h3>Western Asia</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                        <img src="static/assets/ship0.jpg" alt="">
                        <span>freight Aircraft</span>
                        <h3>Western Europe</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                        <img src="static/assets/logistics3.jpg" alt="">
                        <span>Door Delivery</span>
                        <h3>Europe</h3>
                    </div>

                    <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
                        <img src="static/assets/ban11.jpg"  alt="">
                        <span>Logistics Managers</span>
                        <h3>Northern America</h3>
                    </div>

                </div>

            </section>

            <!-- gallery section ends -->
{% endblock %}
