{% extends 'main.html' %}
{% load static %}
{% block title %} XYZ-Courier Services {% endblock %}
{%  block content %}


            <!-- home section starts  -->

            <section class="home" id="home">

                <div class="swiper home-slider">

                <div class="swiper-wrapper">

                    <section class="swiper-slide slide" style="background: url(static/assets/ban.jpg) no-repeat;">
                        <div class="content">
                            <h6 data-aos="fade-up" data-aos-delay="150">we are XYZ<span>deliveryservices</span></h6>
                            <h3 data-aos="fade-up" data-aos-delay="300">from pickup to destinations</h3>
                            <p data-aos="fade-up" data-aos-delay="600">We bring your goods safely to worldwide destinations with our great sea fright services. We offer LLC and FLC shipments that are fast and effective with no delays!</p>
                            <a data-aos="fade-up" data-aos-delay="750"href="" class="btn">get started</a>
                        </div>
                    </section>

                    <section class="swiper-slide slide" style="background: url(static/assets/train.jpg) no-repeat;">
                        <div class="content">
                            <h6>we are XYZ<span>deliveryservices</span></h6>
                            <h3>making dream come to life</h3>
                            <p>We deliver your products on time with pure safety,We pickup your products on time, Anything Everywhere We serve Everywhere!</p>
                            <a href="" class="btn">get started</a>
                        </div>
                    </section>

                    <section class="swiper-slide slide" style="background: url(static/assets/ship0000.jpg) no-repeat;">
                        <div class="content">
                            <h6>we are XYZ<span>deliveryservices</span></h6>
                            <h3>from concept to creation</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur beatae iusto pariatur laborum magnam eos!</p>
                            <a href="" class="btn">get started</a>
                        </div>
                    </section>



                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

                </div>

            </section>

 <!-- home section ends -->


            <!-- header section ends -->

            <section class="services" id="services">

                <h1 class="heading" style="text-align: center; border: none;">CARGO-EXPRESS SERVICES</h1>
                <h3 class="service-first"">Cargo-Express provides a variety of services relating to all modes of transportation.</h3>
                <div class="box-container">

                <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                    <img src="static/assets/air.png" alt="">
                    <h3>AIR FREIGHT</h3>
                    <p>Airfreight services with a charter program to meet your specific needs when companies
                         seek urgent deadline we are the quickest option.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="100">
                    <img src="static/assets/ocean.png" alt="">
                    <h3>OCEAN FREIGHT</h3>
                    <p>XYZ has an efficient consolidation to premium services that helps you balance cost & speed
                         as a specialist we offer both import & export services.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                    <img src="static/assets/road.png" alt="">
                    <h3>ROAD TRANSPORTATION</h3>
                    <p>Tracked-enabled truck services with real time updates and more reliable planning through the final mile
                     & transport anything at your logistics needs.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="200">
                    <img src="static/assets/trade.png" alt="">
                    <h3>GLOBAL TRADE</h3>
                    <p>Dedicated customs professionals assist you with clearing goods through customs agencies around the world.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="250">
                    <img src="static/assets/log17.jpg" alt="">
                    <h3>WAREHOUSING & DISTRIBUTION</h3>
                    <p>Do you need a flexible partner that adopts with the needs of your business all over the world?.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                    <img src="static/assets/logistics4.jpg" alt="">
                    <h3>CUSTOMS HOUSE BROKERAGE </h3>
                    <p>Consulting drawback for duty refunds and other related services.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="350">
                    <img src="static/assets/log123.jpg" alt="">
                    <h3>LOGISTICS & DOMESTIC FREIGHT</h3>
                    <p>provide fulfillment services to clients that prefer to outsource these logistics functions.</p>
                </div>

                <div class="box" data-aos="zoom-in-up" data-aos-delay="400">
                    <img src="static/assets/wo.jpg" alt="">
                    <h3>CUSTOM CLEARANCE</h3>
                    <p>Want to get your goods through customs swiftly without delays to your supply chain?.</p>
                </div>

                </div>
            </section>

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> about-us </h1>

    <div class="row">

       <div class="video" data-aos="fade-right" data-aos-delay="300">
          <img src="static/assets/courier-man.png" loop muted autoplay><img/>
       </div>

       <div class="content" data-aos="fade-left" data-aos-delay="600">
          <h3>XYZ Courier provides services to all 7 continents with over 490+ sub districts branches across the world!</h3>
          <p>XYZDeliveryServices provides innovative, global supply-chain solutions across Automotive, Consumer,
            Industrial and Retail markets. These solutions include Order Management, Distribution & Fulfillment,
            Customs Brokerage and Transportation products delivered across seven regions. We also pioneered the use
             of visual data analysis and offer a robust Data Management and Analytics product suite to help you understand
             and solve complex problems..
            <br/>
            With roots in ocean shipping and rail transport, our brand was built alongside a culture of deep customer focus and attention, and we are known for providing flexible solutions to complex problems....</p>
          <a href="services.html" class="btn">read more</a>
       </div>

    </div>

    <div class="box-container">

       <div class="box">
          <h3 class="count" data-count="10">10+</h3>
          <p>Years of Experience</p>
       </div>

       <div class="box">
          <h3 class="count" data-count="15000">15000+</h3>
          <p>Project Completed</p>
       </div>

       <div class="box">
          <h3 class="count" data-count="7900">7900+</h3>
          <p>Satisfied Clients</p>
       </div>

       <div class="box">
          <h3 class="count" data-count="450">450+</h3>
          <p>Active Workers</p>
       </div>

    </div>

 </section>

 <!-- about section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <div class="heading">
        <span >our gallery</span>
        <h1>we record memories</h1>
    </div>

    <div class="box-container">

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="static/assets/shipp00.jpg" alt="">
            <span>Background Containers</span>
            <h3> Western Europe</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="static/assets/log2.jpg" alt="">
            <span>Courier-Officer</span>
            <h3>Eastern Asia</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="static/assets/img-7.jpg" alt="">
            <span>MAN Courier</span>
            <h3>Western Asia</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="static/assets/log14.jpg" alt="">
            <span>Happy Customer</span>
            <h3>North America</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="static/assets/logs23.jpg" alt="">
            <span>Technial Director</span>
            <h3>North America</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="static/assets/logistics2.jpg" alt="">
            <span>Door Delivery</span>
            <h3>Western Asia</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <img src="static/assets/img-11.jpg" alt="">
            <span>Courier Trucks</span>
            <h3>Western Europe</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <img src="static/assets/log17.jpg" alt="">
            <span>Custom Warehousing</span>
            <h3>Eastern Asia</h3>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <img src="static/assets/logs23.jpg"  alt="">
            <span>Logistics Operations Manager</span>
            <h3>Northern America</h3>
        </div>

    </div>

</section>

<!-- gallery section ends -->


<div class="banners">

    <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <div class="box-container">
            <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                <i class="fas fa-info-circle"></i>

                <h3>180+</h3>
                <p>Our Locations</p>
            </div>

            <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                <i class="fa fa-globe"></i>
                <h3>2700+</h3>
                <p>Delivery Agents</p>
            </div>

            <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                <i class= "fa fa-truck"></i>
                <h3>980+</h3>
                <p>Our Vehicles</p>
            </div>

            <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                <i class="fa fa-umbrella"></i>
                <h3>2 million +</h3>
                <p>Tonnes Transported</p>
            </div>
        </div>
    </div>

</div>
<!-- newsletter section  -->

<section class="newsletter">

    <div class="content">
        <h1 class="heading" style="border: none;" id="track">Enter Tracking Number</h1>
        <p>We make parcel tracking easier!</p>
        <form method="GET" action="{% url 'search-details' %}">
            <input type="search" name="q" placeholder="eg: NPR2-W8CF-1235" id="" class="email">
            <input type="submit" value="Track Shipment" href="" class="btn">

        </form>
    </div>

</section>


{% endblock %}