{% extends 'main.html' %}
{% load static %}
{% block title %} What We Offer {% endblock %}
{%  block content %}


                        <section class="services" id="services">

                            <h1 class="heading"> Why are we so special </h1>

                            <div class="box-container">

                            <div class="box"  data-aos="zoom-in-up" data-aos-delay="50">
                                <img src="static/assets/fast.png" alt="">
                                <h3>Fast Service</h3>
                                <p>We provide fast and accurate service all over the world..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="100">
                                <img src="static/assets/safe.png" alt="">
                                <h3>Safe Delivery</h3>
                                <p>we  delivery each package with care and safety..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
                                <img src="static/assets/support.png" alt="">
                                <h3>24/7 Support</h3>
                                <p>We provide services to our customers 24/7 with the best approach..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="200">
                                <img src="static/assets/cod.png" alt="">
                                <h3>Best COD Rates</h3>
                                <p>We provide best cash on delivery rates.</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="250">
                                <img src="static/assets/reverse-deliver.png" alt="">
                                <h3>Reverse Delivery</h3>
                                <p>We provide reverse delivery, allowing customers to return products..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
                                <img src="static/assets/pick-up-and-delivery.png" alt="">
                                <h3>Door to Door </h3>
                                <p>provide fulfillment services to clients that prefer to outsource these logistics functions..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="350">
                                <img src="static/assets/warehouse-icon.png" alt="">
                                <h3>Custom Warehousing</h3>
                                <p>Want to get your goods through customs swiftly without delays to your supply chain..</p>
                            </div>

                            <div class="box" data-aos="zoom-in-up" data-aos-delay="400">
                                <img src="static/assets/live-tracking.png" alt="">
                                <h3>Live Tracking</h3>
                                <p>Check the real-time location and status of your parcel from anywhere.</p>
                            </div>

                            </div>
                        </section>


            <section class="about" id="">
                <div class="row">

                     <div class="content" data-aos="fade-left" data-aos-delay="600">
                        <h3>Become <span> Our Partners</span></h3>
                        <p>
                            Thank you for your interest in working with our Couriers. We are always looking for new partners, and the majority of the couriers we work with today we’ve worked with for years.

                            Our expectations are simple:

                            At all times our purpose is to serve the customer with speed, fairness, honesty and integrity.

                            Communication If you can do a job, great! If you can’t or don’t think you can – TELL US. We won’t think poorly of you, we will respect your honesty.

                            Honesty -We need to know if there are delays or issues. We don’t work with dishonest people.

                            Integrity– We work with many medical facilities.health Integrity insure patient rights (HIIPRs), business confidentiality and competent service.

                            Professionalism -Couriers are our face to the world & our success depends upon your success. Being professional with both clients and dispatchers creates more work.

                            Attire – we request all couriers to wear clean jeans or khakis as well as a clean shirt. In the summer postal worker style shorts are acceptable. No cutoffs, torn jeans or stomach revealing shirts.


                        </p>
                     </div>

                     <div class="video" data-aos="fade-right" data-aos-delay="300">
                        <img src="static/assets/log13.jpg" loop muted autoplay><img/>
                    </div>


                </div>
            </section>



                <!-- services section ends -->

            <div class="banner">

                <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
                    <span>Secure Order Fulfilment Services</span>
                    <h3>Let's Explore This World</h3>
                    <p>Every customer is different, which is why we have developed our own Warehouse
                         Management System (WMS) customised to your
                         requirements for how orders are fulfilled and reported back to you..</p>
                    <a href="" class="btns">Book Now</a>
                </div>

            </div>


            <section class="about" id="">
                <div class="row">

                    <div class="video" data-aos="fade-right" data-aos-delay="300">
                        <img src="static/assets/log15.jpg" loop muted autoplay><img/>
                    </div>
                    <div class="content" data-aos="fade-left" data-aos-delay="600">
                        <h3>Distribution <span> Management & Fulfilment</span></h3>
                        <p>Here at XYZ-services we have a committed customer service team who proactively
                            manages your shipments. It can be hard to let go of this responsibility
                            but we aim to build a working relationship to better understand your
                            business and any requirements - bespoke or not - that it may have..
                            <br>
                            we are fully GDPR compliant so from data cleansing, item collation,
                             generation of requisite customs documentation and packing, to delivery and progress reporting,
                              you can trust us to manage your data as safely as if it was our own.
                        </p>
                    </div>

                </div>
            </section>


            <section class="home" id="home">

                <div class="swiper home-slider">

                <div class="swiper-wrapper">

                    <section class="swiper-slide slide" style="background: url(static/assets/fucklift.jpg) no-repeat;min-height: 0rem;">
                        <div class="content">

                            <h3 data-aos="fade-up" data-aos-delay="300" style="font-size: 3rem; color: var(--blue);">Quality And Performance At The Right Price!</h3>
                            <h6 data-aos="fade-up" data-aos-delay="150">we are XYZ<span>deliveryservices</span></h6>
                            <p data-aos="fade-up" data-aos-delay="600">
                                Energistically utilize team driven niche markets rather than leveraged platforms.
                                Monotonectally restore tactical "outside the box" thinking and technically sound deliverables...
                                <br/>
                                Compellingly develop fully researched process improvements through innovative opportunities.
                                Credibly productize highly efficient potentialities for vertical core competencies. Quickly
                                maintain pandemic experiences rather than low-risk high-yield processes.</p>

                        </div>
                    </section>


                </div>


                </div>

            </section>


<!-- newsletter section  -->

<section class="newsletter">

    <div class="content">
        <h1 class="heading" style="border: none;">Enter Tracking Number</h1>
        <p>We make parcel tracking easier!</p>
        <form action="">
            <input type="search" name="searched" placeholder="eg: NPR2-W8CF-1235" id="" class="email">
            <input type="submit" value="Track Shipment" href="" class="btn">

        </form>
    </div>

</section>


{% endblock %}